<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>varify otp page</h2>
    <div>
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
            {% endfor %}
    </div>
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Enter otp here</label>
              <input name="otp" type="text" class="form-control" id="otp">
            </div>
            <div class="mb-3">
                <a href="{% url 'user:resendotp' %}" class="btn btn-primary">Regenrate Otp</a>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
   
</body>
</html>